body {
  margin: 0;
}
.blue-text {
  color: #43abf0;
}
.black-text {
  color: black;
}
main {
  background-image: url("./assets/background.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  padding: 15vw 0 10vw 15vw;
  box-sizing: border-box;
}
.cart {
  width: 50%;
}
.cart text {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 600;
}
.cart p {
  word-wrap: break-word;
  font-weight: 700;
  margin-block-end: 0em;
}
.cart ul {
  margin-block-start: 0.5em;
  padding-inline-start: 20px;
}
.cart li {
  word-wrap: break-word;
  list-style-type: "– ";
  font-weight: 400;
}

.cart-button {
  box-sizing: border-box;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  padding: 10px 50px;
  font-size: 12px;
  transition: filter 0.3s ease;
}
.cart-button:hover {
  filter: brightness(0.6);
}
.lower {
  text-align: center;
  background-image: url("./assets/BG.jpg");
  background-size: cover;
  padding: 3vw 0 7vw 0;
}
.lower-cart {
  width: 70%;
  margin: 2vw auto;
  font-size: 25px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}
.lower-cart p {
  color: #bbbbbb;
  text-transform: none;
  font-size: 15px;
}
.lower-circles {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.circle-item {
  display: flex;
  flex-direction: column;
  width: 10%;
  align-items: center;
}
.circle {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #43abf0;
  border: 5px solid #286690;
}
.circle img {
  width: 25px;
}
.groupe-point {
  margin: -5vw 1vw 0 1vw;
  display: flex;
  flex-direction: row;
  width: 5vw;
  justify-content: space-between;
}
.point {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #c4c4c4;
}

.inputs {
  margin-top: 40px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 15px;
  row-gap: 50px;
}
.percent-div {
  grid-column: span 2;
  text-transform: none;
  font-size: 13px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
}
.percent-text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
select option {
  background: #272733e5;
  color: #ffffff;
}
input[type="email"],
input[type="text"],
select {
  padding: 5px 5px;
  border-radius: 2px;
  border: none;
  box-sizing: border-box;
  height: 30px;
}
input[type="range"] {
  -webkit-appearance: none; /* Скрывает слайдер, чтобы можно было создать свой */
  height: 5px;
  border-radius: 15px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid #286690;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #42a9ed;
  cursor: pointer;
}
.input__wrapper {
  text-align: center;
  display: inline-block;
}
.file {
  display: none;
}

.file-button-text {
  color: black;
  font-size: 10px;
  font-weight: 400;
  text-wrap: nowrap;
  margin-left: 4px;
}

.file-button {
  box-sizing: border-box;
  height: 30px;
  padding: 5px 45px;
  border: 1px solid #42a9ed;
  border-radius: 2px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: center;
  cursor: pointer;
  transition: filter 0.3s ease;
}
.file-button:hover {
  filter: brightness(0.6);
}
.submit {
  padding: 10px 60px;
  background-color: #3e9cdc;
  color: #ffffff;
  border-radius: 2px;
  cursor: pointer;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 15px;
  border: none;
  transition: filter 0.3s ease;
}
.submit:hover {
  filter: brightness(0.6);
}
footer {
  background: #3d4050;
  padding: 2vw 7vw;
  text-wrap: nowrap;
  display: grid;
  grid-template-columns: auto auto auto;
  font-size: 13px;
  text-align: center;
  color: #ffffff;
}
footer menu {
  font-size: 10px;
  text-wrap: nowrap;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer-menu {
  border-right: 2px solid white;
  border-left: 2px solid white;
}
footer menu li,
a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}
footer menu img {
  width: 15px;
  margin-right: 3px;
}




/*размеры компьютеров*/
@media (max-width: 1024px) {
  .cart{
    width: 70%;
  }

}
/**/

/*размеры планшетов*/
@media (max-width: 769px) {
  main {
    padding: 18vw 5vw 5vw 10vw;
  }
  .cart {
    width: 90%;
  }
  .cart text {
    font-size: 25px;
  }
  .cart ul {
    padding-inline-start: 15px;
  }
  .cart-button{
    padding: 10px 40px;
    margin-right: 15px;
  }

  .lower-cart {
    width: 100%;
    margin-bottom: 7vw;
  }
  .lower-cart p{
    width: 90%;
    margin: auto;
  }
  .lower-circles {
    margin-top: 3vw;
    margin-bottom: 3vw;
    width: 100%;
    justify-content: space-around;
  }
  .circle-item {
    width: auto;
  }
  .inputs {
grid-gap: 5px;
row-gap: 30px;
  }
  
  footer {
    display: flex;
    flex-direction: column;
    height: 20vw;
    justify-content: space-between;
  }
}

/**/

/*размеры телефонов*/
@media (max-width: 481px) {
  main {
    padding: 25vw 5vw 5vw 5vw;
  }
  .cart {
    width: 100%;
  }
  .cart text {
    font-size: 25px;
  }
  .cart ul {
    padding-inline-start: 15px;
  }

  .groupe-point {
    display: none;
  }
  .lower-cart {
    width: 100%;
    margin-bottom: 7vw;
  }
  .lower-cart p{
    width: 90%;
    margin: auto;
  }
  .lower-circles {
    margin-top: 3vw;
    margin-bottom: 3vw;
    width: 100%;
    justify-content: space-around;
  }
  .circle-item {
    width: auto;
  }
  .cart-button{
    padding: 10px 30px;
    margin-right: 5px;
  }
  .inputs {
    margin-top: 2vw;
    grid-gap: 0px;
    row-gap: 15px;
    display: flex;
    flex-direction: column;
  }
  .inputs input,
  select {
    width: 70%;
    margin: auto;
  }
  .percent-div {
    width: 90%;
    margin: auto;
  }
  .percent-text {
    flex-direction: column;
    font-size: 20px;
    margin-bottom: 3vw;
  }
  input[type="range"] {
    height: 10px;
  }
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 3px solid #286690;
    height: 25px;
    width: 25px;
  }
  .file-button {
    width: 70%;
    margin: auto;
  }
  .file-button-text {
    color: black;
    font-size: 15px;
    margin-left: 5px;
  }
  footer {
    display: flex;
    flex-direction: column;
    height: 20vw;
    justify-content: space-between;
  }
}
/**/
